.make-spacing-classes(@i: 15) when (@i >= 0) {
  .make-spacing-classes(@i - 1);
  @preset: {
    m: margin;
    p: padding;
  };
  @base-spacing: 4px;
  @spacing: @i * @base-spacing;

  each(@preset, {
    .@{key}-@{i} {
      @{value}: @spacing !important;
    }
    .@{key}x-@{i} {
      @{value}-left: @spacing !important;
      @{value}-right: @spacing !important;
    }
    .@{key}y-@{i} {
      @{value}-top: @spacing !important;
      @{value}-bottom: @spacing !important;
    }
    .@{key}t-@{i} {
      @{value}-top: @spacing !important;
    }
    .@{key}l-@{i} {
      @{value}-left: @spacing !important;
    }
    .@{key}r-@{i} {
      @{value}-right: @spacing !important;
    }
    .@{key}b-@{i} {
      @{value}-bottom: @spacing !important;
    }

    // Negative spacing
    .-@{key}-@{i} {
      @{value}: -@spacing !important;
    }
    .-@{key}x-@{i} {
      @{value}-left: -@spacing !important;
      @{value}-right: -@spacing !important;
    }
    .-@{key}y-@{i} {
      @{value}-top: -@spacing !important;
      @{value}-bottom: -@spacing !important;
    }
    .-@{key}t-@{i} {
      @{value}-top: -@spacing !important;
    }
    .-@{key}l-@{i} {
      @{value}-left: -@spacing !important;
    }
    .-@{key}r-@{i} {
      @{value}-right: -@spacing !important;
    }
    .-@{key}b-@{i} {
      @{value}-bottom: -@spacing !important;
    }
  });
}

.make-spacing-classes();

.make-rtl-spacing-classes(@i: 15) when (@i >= 0) {
  .make-rtl-spacing-classes(@i - 1);
  @base-spacing: 4px;
  @spacing: @i * @base-spacing;

  html[dir='rtl'] {
    .ml-@{i} {
      margin-left: 0 !important;
      margin-right: @spacing !important;
    }
    .mr-@{i} {
      margin-right: 0 !important;
      margin-left: @spacing !important;
    }
    .pl-@{i} {
      padding-left: 0 !important;
      padding-right: @spacing !important;
    }
    .pr-@{i} {
      padding-right: 0 !important;
      padding-left: @spacing !important;
    }
    .-ml-@{i} {
      margin-left: 0 !important;
      margin-right: -@spacing !important;
    }
    .-mr-@{i} {
      margin-right: 0 !important;
      margin-left: -@spacing !important;
    }
  }
}

.make-rtl-spacing-classes();

.make-ltr-island-spacing-classes(@i: 15) when (@i >= 0) {
  .make-ltr-island-spacing-classes(@i - 1);
  @base-spacing: 4px;
  @spacing: @i * @base-spacing;

  html[dir='rtl'] {
    .adm-modeling-ltr,
    .adm-modeling-sidebar-ltr {
      .ml-@{i} {
        margin-left: @spacing !important;
        margin-right: 0 !important;
      }
      .mr-@{i} {
        margin-right: @spacing !important;
        margin-left: 0 !important;
      }
      .pl-@{i} {
        padding-left: @spacing !important;
        padding-right: 0 !important;
      }
      .pr-@{i} {
        padding-right: @spacing !important;
        padding-left: 0 !important;
      }
      .-ml-@{i} {
        margin-left: -@spacing !important;
        margin-right: 0 !important;
      }
      .-mr-@{i} {
        margin-right: -@spacing !important;
        margin-left: 0 !important;
      }
    }
  }
}

.make-ltr-island-spacing-classes();
